.benefits {
  padding-top: 84px;
  padding-bottom: 84px;
}

.container-benefits {
  display: flex;
  flex-direction: column-reverse;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  // width: 418px;
  // gap: 30px;
  // margin: 0 auto;
}

.benefits-items:nth-child(odd) {
  margin-right: 30px;
}

.benefits-items:nth-child(even) {
  margin-top: 30px;
}

.benefits-items {
  max-width: 194px;
  height: 133px;
  padding: 20px 36px;
  background: #f7f7f7;
  text-align: center;
  flex-basis: calc((100% - 30px) / 2);
  width: 100%;
}

.benefits-number {
  font-weight: 700;
  font-size: 25px;
  line-height: calc(57 / 42);
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-plus {
  font-weight: 600;
  font-size: 13px;
  line-height: calc(22 / 16);
  color: #ff6c00;
  margin-left: 2px;
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
}

.benefits-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  margin-top: 6px;
}

.benefits-benefits {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 20px;
}

.benefits-benefits::before {
  content: "";
  width: 60px;
  height: 1px;
  background: #303030;
  margin-right: 20px;
}

.benefits-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 20px;
}

.benefits-description {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 44px;
  max-width: 418px;
}
