.masters {
  background: #f7f7f7;
  padding-top: 84px;
  padding-bottom: 84px;
}

.masters-masters {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  color: #303030;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.masters-masters::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  margin-right: 20px;
}

.masters-title {
  font-family: "Raleway";
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  margin-bottom: 44px;
}

.masters-items:not(:last-child) {
  margin-bottom: 64px;
}

.masters-name {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  margin-top: 30px;
}

.masters-job {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
  margin-top: 8px;
}

.masters-networks {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.masters-network:not(:last-child) {
  margin-right: 10px;
}

.masters-soc {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
