.services {
  background-color: #111319;
  background-image: url(../images/fon-services.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 84px;
  padding-bottom: 84px;
}

.services-about {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.services-about::before {
  content: "";
  width: 60px;
  height: 1px;
  background: rgba(157, 164, 189, 0.6);
  margin-right: 20px;
}

.services-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 44px;
}

.services-lists {
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 30px;
  padding-left: 40px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  max-width: 418px;
  margin-bottom: 44px;
}

.services-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.services-item {
  display: inline-flex;
  order: -1;
}

.services-items {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 4px;
}

.services-items:not(last-child) {
  margin-bottom: 20px;
}

.services-items::before {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: rgba(157, 164, 189, 0.12);
}

.sevices-btn {
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: inherit;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  padding: 12px 20px;
  margin: 0 auto;
}
